<!DOCTYPE html>
<html lang="<%= locale.lang %>">
<head>
<meta charset="utf-8"/>
<link href="normalize.css" rel="stylesheet" media="all">
<style type="text/css">
body {
  font-size: small;
  width: 1600px;
  height: 960px;
}
div.table {
  position: absolute;
  border: solid 1px #a0a0a0;
  border-radius: 4px;
  display: inline-block;
  z-index: 10;
  user-select: none;
  min-width: 120px;
  padding-bottom: 6px;
  background-color: #ffffff;
  margin: 2px;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chrome */
  -ms-user-select: none; /* overIE10 */
}
.table div { padding: 2px 10px }
.table div.title {
  background-color: #4078c0;
  color: #ffffff;
  cursor: pointer;
}
.editable {
  display: inline-block;
  padding: 4px;
  color: #4078c0;
}
.editing { border: solid 3px #b0c4de !important; margin: 0 !important; }
.relation-line, .relation-edge {
  position: absolute;
  z-index: 0;
}
.relation-edge-diagonal {
  position: absolute;
  z-index: 0;
  border-bottom: solid 1px black;
}
.relation-line .child-1, .relation-line .child-2 { position: absolute; display: inline-block; }
</style>
<link rel="shortcut icon" href="favicon.ico">
<title>ERD</title>
<script type="text/javascript" src="jquery2.min.js" ></script>
<script type="text/javascript" src="tableViewer.js" ></script>
</head>
<body>
<label class="editable" ><input type="checkbox" ><%= locale.t("views.edit_checkbox_label") %></label>
<%- schema.tables.each do |t| -%>
  <div class="table" data-table-name="<%= t.name %>"
       data-pos-left="<%= t.position["left"]%>" data-pos-top="<%= t.position["top"] %>"
       data-relation-to="<%= t.relations_as_parent.map{|r| r.child_table.name }.join(',') %>"
       data-relation-cardinality="<%=
         t.relations_as_parent.map{|r| r.child_table.name + ":" + r.child_cardinality }.join(',') %>" >
    <div class="title" ><%= t.display_name %></div>
    <% t.columns.each do |c| %>
    <div class="column"><%= c.display_name %></div>
    <%- end -%>
  </div>
<%- end -%>
</body>
</html>
